.App {
  text-align: center;
  background-color: white; /* Set background to white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Change text color to black for better contrast */
}

.App-header {
  background-color: #C86E41; /* Set title bar background to #C86E41 */
  color: white; /* Set font color to white */
  padding: 20px;
  border-radius: 0px;
  font-size: 1.2em; /* Adjust the font size as needed */
}

.TableOfContents {
  margin: 20px;
}

.TableOfContents ul {
  list-style-type: none;
  padding: 0;
}

.TableOfContents li {
  margin: 10px 0;
}

.TableOfContents a {
  color: #61dafb;
  text-decoration: none;
}

.AboutUs, .ProjectDescription, .References {
  margin: 20px auto; /* Center align horizontally */
  padding: 20px; /* Consistent padding */
  background-color: #f0f0f0; /* Light grey background for sections */
  border-radius: 10px;
  text-align: left;
  width: 80%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  margin: 10px;
  text-align: center;
}

.member img {
  max-width: 100px;
  border-radius: 50%;
}

.AboutUs h2 {
  text-align: center;
}

.AboutUs .member p {
  font-size: 0.7em; /* Adjust the font size as needed */
}